tarefaA_omp
tarefaA_seq
tarefaB_omp
tarefaC_omp
tarefaC_seq
tarefaD_omp
tarefaD_seq

images/

resultados_tarefaA.csv
resultados_tarefaB.csv
resultados_tarefaC.csv
resultados_tarefaD.csv
resultados_tarefaD_raw.csv